@model TWYK.Web.Models.ProductModel
@{
    ViewBag.Title = "ProductDetails";

    var quantity = 1;
    var addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, quantity = quantity });

}


<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">

        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="~/Content/Images/Products/@(Model.Picture)" alt="@Model.Name" />
            </div>
            <div class="col-md-6">
                <div class="small mb-1">@Model.Brand - SKU: @Model.Sku</div>

                <h1 class="display-5 fw-bolder">@Model.Name</h1>


                <div class="fs-5 mb-3">
                    <span class="text-decoration-line-through">€@Model.Price</span>
                    <span><strong>€@Model.TotalPrice</strong></span>
                </div>

                <div class="d-flex mb-5">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>

                <p class="lead">@Model.FullDescription</p>

            </div>
    </div>

</div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
           @foreach (var rp in Model.RelatedProducts) {
               @Html.Partial("_ProductBox",rp)
           }
        </div>
    </div>
</section>