@model TWYK.Web.Models.ProductModel
@{
    var quantity = 1;
    var addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, quantity = quantity });
}
<div class="col mb-5">
    <div class="card h-100">
                
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                
        <!-- Product image-->
        <a href="@Url.RouteUrl("product", new{productId=@Model.Id})"><img class="card-img-top" src="~/Content/Images/Products/@Model.Picture" alt="Picture of @Model.Name" /></a>
                
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">

                <!-- Product name-->
                <h5 class="fw-bolder">@Model.Name</h5>
                <div class="small mb-1">@Model.Brand - SKU: @Model.Sku</div>

                <!-- Product price-->
                <span class="text-muted text-decoration-line-through">@Model.Price</span>

                <strong>@Model.TotalPrice</strong>
            </div>
        </div>
                
        <!-- Add To Cart actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="javascript.void(0);" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;">Add to cart</a></div>
        </div>
    </div>
</div>