@model TWYK.Web.Models.LoginModel
@{
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Admin: Log In";
}

<div class="row g-3">
    <div class="col-lg-6 p-3">
        @using (Html.BeginForm(null,null, FormMethod.Post, new { @class = "row g-3" }))
        {
            <h3>Login</h3>
            @Html.ValidationSummary()
            <div class="row g-1 m-0">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div class="col-md-12">
                    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="col-md-12">
                    <input type="checkbox" class="form-check-input" id="RememberMe" name="RememberMe">
                    <label class="form-check-label" for="RememberMe">Θυμήσου με</label>
                </div>
                <div class="col-md-12 text-end"><button type="submit" class="btn btn-primary">Είσοδος</button></div>
            </div>
            
        }
    </div>
    <div class="col-lg-6 p-3">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "row g-3" }))
        {
            <h3>Εγγραφή Νέου Μαθητή</h3>
            @Html.ValidationSummary()
            <div class="row g-1 m-0">
                <div class="col">
                    <label for="FirstName" class="form-label">First name</label>
                    <input type="text" name="FirstName" class="form-control" aria-label="First name">
                </div>
                <div class="col">
                    <label for="LastName" class="form-label">Last name</label>
                    <input type="text" name="LastName" class="form-control" aria-label="Last name">
                </div>
            </div>

            <div class="col-md-12">
                <label for="Email" class="form-label">Email</label>
                <input type="email" name="Email" class="form-control" id="Email">
            </div>
            <div class="col-md-12">
                <label for="UserName" class="form-label">User Name</label>
                <input type="text" name="UserName" id="UserName2" class="form-control">
            </div>
            <div class="col-md-12">
                <label for="Password" class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" id="Password2">
            </div>
            <div class="col-12">
                <label for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" name="Address" id="Address" placeholder="1234 Main St">
            </div>
            <div class="col-12">
                <label for="Address2" class="form-label">Address 2</label>
                <input type="text" name="Address2" class="form-control" id="Address2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
                <label for="City" class="form-label">City</label>
                <input type="text" name="City" class="form-control" id="City">
            </div>
            <div class="col-md-4">
                <label for="State" class="form-label">State</label>
                <select id="State" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="Zip" class="form-label">Zip</label>
                <input type="text" name="Zip" class="form-control" id="Zip">
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" name="Agree" id="Agree">
                    <label class="form-check-label" for="gridCheck">
                        Διάβασα τους Όρους και Συμφωνώ
                    </label>
                </div>
            </div>
            <div class="col-12 text-end">
                <button type="submit" name="register" class="btn btn-primary">Εγγραφή</button>
            </div>

        }

    </div>
</div>