@model Topic
@{
    ViewBag.Title = "Κεφάλαιο";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .75rem 1.25rem;
        transition: opacity .25s ease-out;
    }
    .card-options {
        flex: 0 0 auto;
        padding-left: 1.25rem;
    }
    .btn-block-option {
        display: inline-block;
        padding: 6px 5px;
        line-height: 1;
        color: #0665d0;
        background: 0 0;
        border: 1px solid gray;
        cursor: pointer;
    }
    
</style>


<div class="row justify-content-center">
    <div class="col-md-10">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-topic-tab" data-bs-toggle="tab" data-bs-target="#nav-topic" type="button" role="tab" aria-controls="nav-topic" aria-selected="true">Μάθημα</button>
                <button class="nav-link" id="nav-chapters-tab" data-bs-toggle="tab" data-bs-target="#nav-chapters" type="button" role="tab" aria-controls="nav-chapters" aria-selected="false">Κεφάλαια</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-topic" role="tabpanel" aria-labelledby="nav-topic-tab">
                <div class="row justify-content-center mb-5">


                    <div class="col">
                        <div class="card">

                            <div class="card-header">
                                <h3 class="card-title">Μάθημα: @Model.Name</h3>
                                <div class="card-options">
                                    <button type="button" class="btn-block-option" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Νέο Μάθημα">
                                        <i class="bi bi-plus-square"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "row" })) {
                                    @Html.HiddenFor(m => m.Id)
                                    <div class="mb-3">
                                        @Html.LabelFor(m => m.Name, new { @class = "form-label" })
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Name)
                                    </div>

                                    <div class="mb-3">
                                        @Html.LabelFor(m => m.Description, new { @class = "form-label" })
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", cols = 80, rows = 10 })
                                        @Html.ValidationMessageFor(m => m.Description)
                                    </div>

                                    <div class="mb-3">
                                        <button class="btn btn-primary">Απόθήκευση</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="tab-pane fade" id="nav-chapters" role="tabpanel" aria-labelledby="nav-chapters-tab">
                <div class="row justify-content-center">

                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Κεφάλαια</h3>
                                <div class="card-options">
                                    <button type="button" class="btn-block-option" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Νέο Μάθημα">
                                        <i class="bi bi-plus-square"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Κεφάλαιο</th>
                                        <th scope="col">Ελάχιστο Score</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var chapter in Model.Chapters) {
                                        <tr>
                                            <th scope="row">@chapter.Id</th>
                                            <td style="width: 45%;">@chapter.Name</td>
                                            <td style="width: 45%;">@chapter.PasScore</td>
                                            <td style="text-align: center;">
                                                <a href="#"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="top"
                                                   title="Click to Edit">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/scripts/tinymce/tinymce.js"></script>
    <script src="~/scripts/tinymce/tinymce-init.js"></script>
    <script>

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })   
    
    </script>
}